@model NotOurStackOverflow.Models.ViewModels.TagQuestionsViewModel
@{
    ViewBag.Title = "TagsQuestions";
}

<h2>ViewBag.TagName</h2>

<hr />

<div class="button-box">
    <button>Newest</button>
    <button>Most Popular</button>
    <button>Qs and As of the Day</button>
</div>

<body class="card-box">
    @foreach (var r in Model.AllQuestions)
    {
        <div class="question-card">
            <h4>
                @Html.ActionLink(r.Title, "Details", "Questions", new {Id = r.Id }, new { @class = "question-title-link" })
            </h4>
            <div class="user-card">
                @* link to user profile *@
                @r.User.UserName | @r.User.Reputation
            </div>
            <div class="info-container">
                <div>
                    @r.DatePosted
                </div>
                <div class="tag-box">
                    @foreach (var t in r.Tags)
                    {
                        <div class="tag">
                            @t.Title
                            @* Link to tag with list of questions *@
                        </div>
                    }
                </div>
                <div class="vote-box">
                    <button id="upvote">
                        ++
                    </button>
                    ||
                    <button id="downvote">
                        --
                    </button>
                    @* Add upvote/downvote (post) *@
                </div>
                <div>
                    Answer (@r.Answers.Count())
                    @* Action link to answer *@
                </div>
                <div>
                    Comment (@r.Comments.Count())
                    @* Action link to Comment *@
                </div>
            </div>
        </div>
    }
</body>
<div class="page-box">
    <button id="next-ten"><<</button>
    <button id="prev-ten">>></button>
</div>
