@model NotOurStackOverflow.Models.Question

@{
    ViewBag.Title = "Details";
}
<h3>
    @Html.DisplayFor(model => model.Title)
</h3>
<div class="QuestionContainer">
    <div class="QuestionBody">@Model.Body</div>
    <div>
        @foreach (var tag in Model.Tags)
        {
            <span class="TagLink">@tag.Title</span>
        }
    </div>
    <div class="QuestionComments">
        @foreach (var comment in Model.Comments)
        {
            <div class="Comment">
                @comment.Body
                <div> -- @comment.User.UserName</div>
            </div>
        }
        <p>@Html.ActionLink("Add Comment", "Create", "Comments")</p>
    </div>
</div>

<div class="AnswersContainer">
    @foreach (var answer in Model.Answers)
    {
        <div class="AnswerBox">
            <div class="AnswerBody">@answer.Body</div>
        </div>

    }
    <div>@Html.ActionLink("Submit Answer", "Create", "Answers")</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
