@model NotOurStackOverflow.Models.Question

@{
    ViewBag.Title = "Details";
}

<div class="card-box">

    <div class="question-card">
        <h4>
            @Model.Title
        </h4>

        <div class="user-card">
            @Html.ActionLink(Model.User.UserName, "Details", new { id = Model.User.Id})
            | @Model.User.Reputation
        </div>

        <p class="question-body">
            @Model.Body
        </p>

        <div class="info-container">
            <div>
                @Model.DatePosted
            </div>
            <div class="tag-box">
                @foreach(var t in Model.Tags)
                {
                    <div class="tag">
                        @t.Title
                        @*Actionlink to q's with tag*@
                    </div>
                }
            </div>
            <div class="vote-box">
                <button id="upvote">++(@Model.Votes.Where(v => v.IsUpVote).Count())
                </button>
                 || 
                <button id="downvote">--(@Model.Votes.Where(v => !v.IsUpVote).Count())
                </button>
            </div>

        </div>

    </div>
</div>