@model NotOurStackOverflow.Models.Question

@{
    ViewBag.Title = "Details";
}

<body class="card-box">

    <div class="question-card">
        <h4>
            @Model.Title
        </h4>

        <div class="user-card">
            @Html.ActionLink(Model.User.UserName, "Details", new { id = Model.User.Id })
            | @Model.User.Reputation
        </div>

        <p class="question-body">
            @Model.Body
        </p>

        <div class="info-container">
            <div>
                @Model.DatePosted
            </div>
            <div class="tag-box">
                @foreach (var t in Model.Tags)
                {
                    <div class="tag">
                        @t.Title
                        @*Actionlink to q's with tag*@
                    </div>
                }
            </div>
            <div class="vote-box">
                @* POST *@
                <button id="upvote">
                    ++
                </button>
                ||
                <button id="downvote">
                    --
                </button>
            </div>
            <div>
                Answer (@Model.Answers.Count())
                @* Action link to answer *@
            </div>
            <div>
                Comment (@Model.Comments.Count())
                @* Action link to Comment *@
            </div>
        </div>
    </div>


    @if (Model.Comments.Any())
    {
        <div class="comment-box">
            <h4>Comments</h4>
            @foreach (var c in Model.Comments)
            {
                <div class="comment-card">
                    <div class="user-card">
                        @Html.ActionLink(c.User.UserName, "Details", new { id = Model.User.Id })
                        | @c.User.Reputation
                    </div>
                    <p class="comment-body">
                        @c.Body
                    </p>
                    <div class="info-container">
                        <div>
                            @c.DatePosted
                        </div>

                        <div class="vote-box">
                            @* POST *@
                            <button id="upvote">
                                ++(@c.Votes.Where(v => v.IsUpVote).Count())
                            </button>
                            ||
                            <button id="downvote">
                                --(@c.Votes.Where(v => !v.IsUpVote).Count())
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <div class="answer-box">
        <h4>Answers</h4>
        @if (!Model.Answers.Any())
        {
            <div>
                @*Link to adding an answer*@
                Looks like there are no Answers to this question yet. Can you add one?
            </div>
        }

        @foreach (var a in Model.Answers)
        {
            <div class="answer-card">
                <div class="user-card">
                    @Html.ActionLink(a.User.UserName, "Details", new { id = Model.User.Id })
                    | @a.User.Reputation
                </div>
                <p>
                    @a.Body
                </p>
            </div>

            <div class="info-container">
                <div>
                    @a.DatePosted
                </div>
                <div class="vote-box">
                    @* POST *@
                    <button id="upvote">
                        ++
                    </button>
                    ||
                    <button id="downvote">
                        --
                    </button>
                </div>
                <div>
                    Comment (@a.Comments.Count())
                    @* Action link to Comment *@
                </div>
            </div>

            <div class="comment-box">
                @foreach (var c in a.Comments)
                {
                    <div class="comment-card">
                        <div class="user-card">
                            @Html.ActionLink(c.User.UserName, "Details", new { id = Model.User.Id })
                            | @c.User.Reputation
                        </div>
                        <p class="comment-body">
                            @c.Body
                        </p>
                        <div class="info-container">
                            <div>
                                @c.DatePosted
                            </div>

                            <div class="vote-box">
                                @* POST *@
                                <button id="upvote">
                                    ++
                                </button>
                                ||
                                <button id="downvote">
                                    --
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</body>