@model NotOurStackOverflow.Models.Question

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<body class="card-box">

    <div class="question-card">
        <h4>
            @Model.Title
        </h4>

        <div class="user-card">
            @Html.ActionLink(Model.User.UserName, "Details", new { id = Model.User.Id })
            | @Model.User.Reputation
        </div>

        <p class="question-body">
            @Model.Body
        </p>

        <div class="info-container">
            <div>
                @Model.DatePosted
            </div>
            <div class="tag-box">
                @foreach (var t in Model.Tags)
                {
                    <div class="tag">
                        @t.Title
                        @*Actionlink to q's with tag*@
                    </div>
                }
            </div>
            <div class="vote-box">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.Hidden("id", Model.Id)
                    @Html.Hidden("isPositive", true)
                    @Html.Hidden("postId", Model.Id)
                    <input type="submit" value="++" />
                }
                ||

                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.Hidden("id", Model.Id)
                    @Html.Hidden("isPositive", false)
                    @Html.Hidden("postId", Model.Id)
                    <input type="submit" value="--"  />
                }
            </div>
            <div>
                Answer(@Model.Answers.Count())
                @* Action link to answer *@
            </div>
            <div>
                Comment(@Model.Comments.Count())
                @* Action link to Comment *@
            </div>
        </div>
    </div>


    @if (Model.Comments.Any())
    {
        <div class="comment-box">
            <h4>Comments</h4>
            <p>@Html.ActionLink("Add a Comment", "Create", "Comments", new { qId = Model.Id }, null)</p>
            @foreach (var c in Model.Comments)
            {
                <div class="comment-card">
                    <div class="user-card">
                        @Html.ActionLink(c.User.UserName, "Details", new { id = Model.User.Id })
                        | @c.User.Reputation
                    </div>
                    <p class="comment-body">
                        @c.Body
                    </p>
                    <div class="info-container">
                        <div>
                            @c.DatePosted
                        </div>

                        <div class="vote-box">
                            @using (Html.BeginForm(FormMethod.Post))
                            {
                                @Html.Hidden("id", Model.Id)
                                @Html.Hidden("isPositive", true)
                                @Html.Hidden("postId", c.Id)
                                <input type="submit" value="++" />
                            }
                            ||

                            @using (Html.BeginForm(FormMethod.Post))
                            {
                                @Html.Hidden("id", Model.Id)
                                @Html.Hidden("isPositive", false)
                                @Html.Hidden("postId", c.Id)
                                <input type="submit" value="--" />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <div class="answer-box">
        <h4>Answers</h4>
        <p>@Html.ActionLink("Add an Answer", "Create", "Answers", new { qId = Model.Id }, null)</p>
        @if (!Model.Answers.Any())
        {
            <div>
                @*Link to adding an answer*@
                Looks like there are no Answers to this question yet. Can you add one?
            </div>
        }

        @foreach (var a in Model.Answers)
        {
            <div class="answer-card">
                <div class="user-card">
                    @Html.ActionLink(a.User.UserName, "Details", new { id = Model.User.Id })
                    | @a.User.Reputation
                </div>
                <p>
                    @a.Body
                </p>
            </div>

            <div class="info-container">
                <div>
                    @a.DatePosted
                </div>
                <div class="vote-box">
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        @Html.Hidden("id", Model.Id)
                        @Html.Hidden("isPositive", true)
                        @Html.Hidden("postId", a.Id)
                        <input type="submit" value="++" />
                    }
                    ||

                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        @Html.Hidden("id", Model.Id)
                        @Html.Hidden("isPositive", false)
                        @Html.Hidden("postId", a.Id)
                        <input type="submit" value="--" />
                    }
                </div>
                <div>
                    @Html.ActionLink("Comment", "Create", "Comments", new { qId = a.Id }, null) (@a.Comments.Count())
                    @* Action link to Comment *@
                </div>
            </div>

            <div class="comment-box">
                @foreach (var c in a.Comments)
                {
                    <div class="comment-card">
                        <div class="user-card">
                            @Html.ActionLink(c.User.UserName, "Details", new { id = Model.User.Id })
                            | @c.User.Reputation
                        </div>
                        <p class="comment-body">
                            @c.Body
                        </p>
                        <div class="info-container">
                            <div>
                                @c.DatePosted
                            </div>

                            <div class="vote-box">
                                @using (Html.BeginForm(FormMethod.Post))
                                {
                                    @Html.Hidden("id", Model.Id)
                                    @Html.Hidden("isPositive", true)
                                    @Html.Hidden("postId", c.Id)
                                    <input type="submit" value="++" />
                                }
                                ||

                                @using (Html.BeginForm(FormMethod.Post))
                                {
                                    @Html.Hidden("id", Model.Id)
                                    @Html.Hidden("isPositive", false)
                                    @Html.Hidden("postId", c.Id)
                                    <input type="submit" value="--" />
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</body>